<a href="https://colab.research.google.com/github/fmr693/Archivos-Colab/blob/main/Ejercicios_Uniones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Con el Dataset SalePrice

 1- Dividir el Dataset en tres grupos con usuarios comunes y diferentes y variables diferentes (Las filas se repiten pero las columnas no).

In [1]:
from google.colab import drive
drive.mount('/content/drive')
import os
import pandas as pd
import numpy as np
os.chdir(r"/content/drive/MyDrive/Colab Notebooks")
tabla1 = pd.read_csv(r"SalePrice.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

2- Dividir el Dataset en tres grupos con usuarios comunes y diferentes y variables comunes y diferentes en cada caso (Tanto filas como columnas se repiten).

3- Realizar uniones de los tres grupos creados en el punto 1: a. Incluyendo todas las variables y todas las observaciones, por el índice. b. Incluyendo las observaciones comunes de las tres tablas y todas las variables, por el índice. c. Incluyendo las observaciones de la tabla dos y enriqueciendo esa información con la información de las otras dos tablas, por el índice.

4- Realizar uniones de los tres grupos creados en el punto

2: a. Incluyendo todas las variables y todas las observaciones, por el índice.

b. Incluyendo las observaciones comunes de las tres tablas y todas las variables, por el índice.

 c. Incluyendo las observaciones de la tabla dos y enriqueciendo esa información con la información de las otras dos tablas, por el índice.

5- Realizar dos grupos con observaciones comunes y variables únicas, incluyendo la columna Id en las dos tablas:

a. Incluyendo todas las variables y todas las observaciones, por la Id.

b. Incluyendo las observaciones comunes de las tres tablas y todas las variables, por la Id.

 c. Incluyendo las observaciones de la tabla dos y enriqueciendo esa información con la información de las otras dos tablas, por la Id.

6- Realizar dos grupos con observaciones y variables comunes, incluyendo la Id en las dos tablas:

a. Incluyendo todas las variables y todas las observaciones, por la Id.

b. Incluyendo las observaciones comunes de las tres tablas y todas las variables, por la Id.

c. Incluyendo las observaciones de la tabla dos y enriqueciendo esa información con la información de las otras dos tablas, por la Id.