<a href="https://colab.research.google.com/github/fmr693/Archivos-Colab/blob/main/Ejercicios_Uniones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Con el Dataset SalePrice

 1- Dividir el Dataset en tres grupos con usuarios comunes y diferentes y variables diferentes (Las filas se repiten pero las columnas no).

In [17]:
from google.colab import drive
drive.mount('/content/drive')
import os
import pandas as pd
import numpy as np
os.chdir(r"/content/drive/MyDrive/Colab Notebooks")
tabla1 = pd.read_csv(r"SalePrice.csv")
tabla1.head(5)

grupo1 = tabla1.iloc[0:850]
grupo2 = tabla1.iloc[300:800]
grupo3 = tabla1.iloc[600:1500]

print(tabla1.columns)

grupo1 = grupo1[['Id', 'GrLivArea']]
grupo2 = grupo2[['SaleType', 'LotArea']]
grupo3 = grupo3[['YearBuilt', 'OverallQual']]

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')

2- Dividir el Dataset en tres grupos con usuarios comunes y diferentes y variables comunes y diferentes en cada caso (Tanto filas como columnas se repiten).

In [8]:
grupo4 = tabla1.iloc[0:850]
grupo5 = tabla1.iloc[300:800]
grupo6 = tabla1.iloc[600:1500]

grupo4 = grupo4[['Id', 'SaleType', 'GrLivArea']]
grupo5 = grupo5[['Id', 'SaleType', 'LotArea']]
grupo6 = grupo6[['Id', 'SaleType', 'YearBuilt']]

print(grupo4.columns)
print(grupo5.columns)
print(grupo6.columns)

Index(['Id', 'SaleType', 'GrLivArea'], dtype='object')
Index(['Id', 'SaleType', 'LotArea'], dtype='object')
Index(['Id', 'SaleType', 'YearBuilt'], dtype='object')

3- Realizar uniones de los tres grupos creados en el punto 1:

 a. Incluyendo todas las variables y todas las observaciones, por el índice.

 b. Incluyendo las observaciones comunes de las tres tablas y todas las variables, por el índice.

 c. Incluyendo las observaciones de la tabla dos y enriqueciendo esa información con la información de las otras dos tablas, por el índice.

In [16]:
union_a = grupo1.join(grupo2, how='outer', lsuffix='_g1', rsuffix='_g2') \
                .join(grupo3, how='outer', rsuffix='_g3')

#union_a.head(5)

union_b = grupo1.join(grupo2, how='inner', lsuffix='_g1', rsuffix='_g2') \
                .join(grupo3, how='inner', rsuffix='_g3')

#union_b.head(5)

union_c = grupo1.join(grupo2, how='left', lsuffix='_g1', rsuffix='_g2') \
                .join(grupo3, how='left', rsuffix='_g3')

union_c.head(5)

,Id_g1,SaleType_g1,GrLivArea,Id_g2,SaleType_g2,LotArea,Id,SaleType,YearBuilt
0,1461,WD,896,NaN,NaN,NaN,NaN,NaN,NaN
1,1462,WD,1329,NaN,NaN,NaN,NaN,NaN,NaN
2,1463,WD,1629,NaN,NaN,NaN,NaN,NaN,NaN
3,1464,WD,1604,NaN,NaN,NaN,NaN,NaN,NaN
4,1465,WD,1280,NaN,NaN,NaN,NaN,NaN,NaN

4- Realizar uniones de los tres grupos creados en el punto

2: a. Incluyendo todas las variables y todas las observaciones, por el índice.

b. Incluyendo las observaciones comunes de las tres tablas y todas las variables, por el índice.

 c. Incluyendo las observaciones de la tabla dos y enriqueciendo esa información con la información de las otras dos tablas, por el índice.

5- Realizar dos grupos con observaciones comunes y variables únicas, incluyendo la columna Id en las dos tablas:

a. Incluyendo todas las variables y todas las observaciones, por la Id.

b. Incluyendo las observaciones comunes de las tres tablas y todas las variables, por la Id.

 c. Incluyendo las observaciones de la tabla dos y enriqueciendo esa información con la información de las otras dos tablas, por la Id.

6- Realizar dos grupos con observaciones y variables comunes, incluyendo la Id en las dos tablas:

a. Incluyendo todas las variables y todas las observaciones, por la Id.

b. Incluyendo las observaciones comunes de las tres tablas y todas las variables, por la Id.

c. Incluyendo las observaciones de la tabla dos y enriqueciendo esa información con la información de las otras dos tablas, por la Id.